<% if params[:preview_button] %>
<p>※プレビュー</p>
  <div class="preview">
    <div class="title">
      <h2><%= @post.title %></h2>
    </div>

    <div class="content">
      <%= simple_format @post.body %>
    </div>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <p>
    <%= f.text_field :title, placeholder: 'タイトル' %>
    <% if @post.errors.messages[:title].any? %>
    <span class="error"><%= @post.errors.messages[:title][0] %></span>
    <% end %>
  </p>
  <div>
    <ul >
      <li class="form-menu-bottaon">1</li>
      <li class="form-menu-bottaon">2</li>
      <li class="form-menu-bottaon">3</li>
      <li class="form-menu-bottaon">4</li>
      <li class="form-menu-bottaon">5</li>
      <li class="form-menu-bottaon">6</li>
      <li class="form-menu-bottaon">7</li>
      <li class="form-menu-bottaon">8</li>
    </ul>
  </div>
  <p>
    <%= f.text_area :body, placeholder: '本文' %>
    <% if @post.errors.messages[:body].any? %>
    <span class="error"><%= @post.errors.messages[:body][0] %></span>
    <% end %>
  </p>
  <p>
    <%= f.submit "SailingShip" ,name: "release_button"%>
    <%= submit_tag "Periscope", name: "preview_button" %>
    <%= submit_tag "Submarine", name: "draft_button" %>
  </p>
<% end %>
<textarea id="eg-textarea" class="text-small"></textarea>
<script>
  $(function() {
    $('textarea#eg-textarea').editable({
      inlineMode: false
    })
  });
</script>
